{% extends "../main.html" %}

{% block title %}
    О компании
{% end %}

{% block content %}
    <p style="text-align: justify;">
        В 2002 г. ГРУППА КОМПАНИЙ ПАКОН для расширения возможностей в производстве
        сложных алюминиевых и стальных конструкций приобрела и запустила в
        эксплуатацию высококлассный станок PBT 25 Profilbiegetechnic (оснащенный
        системой программного управления PC 200) производства Швейцарии,
        позволяющий изготавливать гнутые элементы любой сложности из системных
        алюминиевых и стальных профилей. Поэтому 2002 год мы считаем днём рождения
        ПРОИЗВОДСТВЕННОЙ КОМПАНИИ РАДИУС.
    </p>
    <p style="text-align: justify;">
        Швейцарская компания Profilbiegetechnic AG является общепризнанным мировым
        лидером в области производства гибочных станков, поэтому мы закупили
        оборудование именно этой компании. Приобретенный гибочный станок PBT 25 –
        лучший гибочный станок в своем классе. Благодаря модульной структуре он
        легко переналаживается на новые технологические операции. Три ролика имеют
        свой собственный привод, поэтому на станке можно без труда гнуть профили
        значительного сечения. Размеры вальцов позволяют подвергать высокоточному
        прогибу профили высотой до 300 мм. Возможности оборудования позволяют
        производить гибку по нескольким радиусам, осуществляя, в частности, плавный
        переход от дуги с заданным радиусом к прямой линии, или аппроксимировать
        эллипс.
    </p>
    <p style="text-align: justify;">
        В 2006 году наша компания разработала технологию и запустила в производство
        гибку алюминиевых ригельных профилей в двух плоскостях - для конструкций
        светопрозрачных куполов. В настоящее время мы являемся единственной
        компанией в России, которая может это сделать.
    </p>
    <p style="text-align: justify;">
        После восьми лет совершенствования нашей работы, завоевания нашей компанией
        хорошей репутации, и в связи с выросшим объёмом работ, в 2011 году наша
        компания приобрела второй станок PBT 25 Profilbiegetechnic, оснащенный
        современной системой программного управления PC 300 с графическим
        представлением.
    </p>
    <p style="text-align: justify;">
        Операторы станков прошли специальные курсы по обучению. Регулярно
        пополняемый парк вальцов и дополнительного оборудования позволяет постоянно
        расширять возможности, увеличивая список обрабатываемых профилей и
        профильных систем.
    </p>
    <p style="text-align: justify;">
        Наши собственные технологические разработки позволили существенно уменьшить
        минимальные радиусы прогиба по отношению к заявленным производителями
        большинства профильных систем.
    </p>
    <p style="text-align: justify;">
        Мы руководствуемся правилом: «наличие гофры – это невыполнение заказа»,
        поэтому процент брака сводится к нулю.
    </p>
    <p style="text-align: justify;">
        В настоящее время мы гнем профили практически всех распространенных
        алюминиевых профильных систем: Schuеco, Reynaers, AGS, ALMO, New Tec,
        Realit, Tatprof, Alutech, ВСМПО, СИАЛ; стальных профильных систем Jansen,
        Forster, FERRO-WIC, а также различные профили стандартного сортамента.
    </p>
    <p style="text-align: justify;">
        ПК Радиус сегодня по всем параметрам является лидером Российского рынка
        услуг по гибке системных профилей для светопрозрачных конструкций.
    </p>
{% end %}