{% extends ../main.html %}

{% block title %}
    Гибочный калькулятор
{% end %}

{% block head %}
    <script src="{{ static_url('script/html2canvas.js') }}"></script>
{% end %}

{% block content %}

<p>
    Чаще всего стоит задача определения параметров дуги по её габаритным
    размерам. Для этого мы предлагаем гибочный калькулятор.
</p>
<table id="calc_table">
    <tr>
        <td rowspan="8">
            <img alt="" height="279" src="{{ static_url('img/calc/scheme.jpg') }}" style="border: 1px solid black;" width="335">
        </td>
        <td colspan="3" style="padding-top: 10px;">
            <h2 style="display: inline;">
                Введите значения H и h в миллиметрах
            </h2>
        </td>
    </tr>
    <tr>
        <td>
            хорда
        </td>
        <td>
            H = <input id="edit_HBIG" style="width: 80px; padding-left: 5px; position: relative; left: 2px;" type="text" value="0"> мм
        </td>
        <td id="td_result" rowspan="5"></td>
    </tr>
    <tr>
        <td>
            высота хорды
        </td>
        <td>
            h = <input id="edit_hsmall" style=
            "width: 80px; padding-left: 5px; position: relative; left: 3px;"
            type="text" value="0"> мм
        </td>
    </tr>
    <tr>
        <td>
            радиус
        </td>
        <td>
            R = <span id="lbl_R">0 мм</span>
        </td>
    </tr>
    <tr>
        <td>
            длина дуги
        </td>
        <td>
            L = <span id="lbl_L">0 мм</span>
        </td>
    </tr>
    <tr>
        <td>
            угол сегмента
        </td>
        <td>
            φ = <span id="lbl_phi">0 градусов</span>
        </td>
    </tr>
    <tr>
        <td>
            <button id="clear_button">Очистить</button>
        </td>
        <td>
            <button id="comp_button">Вычислить</button>
        </td>
        <td style="text-align: center;">
            <button id="save_button">Сохранить расчёт</button>
        </td>
    </tr>
</table>
<p>
    Не забывайте, что для гибки профилей необходим технологический припуск от
    500 до 1000 мм. на заготовку.
</p>
<p>
    Вы можете скачать ПК версию гибочного калькулятора <a href=
    "{{ static_url('files/PKRadius.exe') }}">по этой ссылке</a>.
</p>

<script>
    // <![CDATA[
    function finite(x, metric){
     return isFinite(x) ? x + metric : "значение не определено"  
    }

    jQuery(function(){

    jQuery("#save_button").hide()
    jQuery("#edit_HBIG").select().focus()


    jQuery("#clear_button").click(function(){
      jQuery("input").val("");
      jQuery("#save_button").hide()
      jQuery(".result").remove()
      jQuery("#edit_HBIG").focus()
      jQuery("#lbl_L").text("")
                jQuery("#lbl_R").text("") 
                jQuery("#lbl_phi").text("") 

    })

    jQuery("#save_button").click(function(){
      html2canvas(document.body, {
       onrendered: function(canvas) {
         window.open(canvas.toDataURL(), "toDataURL() image", "width=640, height=480");
       }
    })
    })

    jQuery("#comp_button").click(function(){
      var jQueryH = jQuery("#edit_HBIG")
      var jQueryh = jQuery("#edit_hsmall")
      jQueryH.val(parseFloat(jQueryH.val().replace(/,/g, '.')))
      jQueryh.val(parseFloat(jQueryh.val().replace(/,/g, '.')))
      
      var hbig = parseFloat(jQueryH.val())
      var hsmall = parseFloat(jQueryh.val())
      if ( isNaN(hbig ) || isNaN(hsmall) ){
        alert("Проверьте правильность введенных значений! В качестве H и h должны фигурировать числа с плавающей запятой!")
        jQuery("#save_button").hide()
      } else {
        
                var r = (hbig * hbig / 4 + hsmall * hsmall) / 2 / hsmall;
                var phi = (180 / Math.PI) * 2 * Math.acos((r - hsmall) / r);
                var l = r * phi / (180 / Math.PI);

                jQuery("#lbl_L").text(finite(Math.round(l), " мм")) 
                jQuery("#lbl_R").text(finite(Math.round(r), " мм"))
                jQuery("#lbl_phi").text(finite(Math.round(phi * 10) / 10," градусов")) 

                   jQuery(".result").remove()
               if (isFinite(r) && isFinite(phi) && isFinite(l)){
    if (phi <= 360) src="/360"
    if (phi <= 290) src="/270" 
    if (phi <= 180) src = "180" 
    if (phi <= 170) src="/120" 
    if(phi <= 100) src="/090" 
    if(phi <= 80) src="/060" 
               jQuery("#td_result").append("<img style='border: 1px solid black' width=200 height=200 class=\"result\" src=\"/static/img/calc/" + src + ".jpg\" />")
                jQuery("#save_button").show()
    } else {
                   jQuery("#save_button").hide()
                }
      }
    })

    jQuery("#edit_HBIG").keypress(function (e) {
      if (e.which == 13) {
        jQuery("#edit_hsmall").select().focus()
        return false
      }
    })

    jQuery("#comp_button").click(function(){
      jQuery("#save_button").focus()
    })

    jQuery("save_button").click(function(){
      jQuery("#clear_button").focus()
    })

    jQuery("#edit_hsmall").keypress(function (e) {
      if (e.which == 13) {
        jQuery("#comp_button").click()
      }
    })


    })
    // ]]>
</script>

{% end %}