{% extends ../main.html %}

{% block title %}
    Партнёры
{% end %}

{% block content %}
    <div class="logo partners">
        <table border="0">
            <tbody>
                <tr>
                    <!-- 1 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.schueco.com/web2/ru" target=
                        "_blank"><img alt="" id="schuco" src=
                        "{{ static_url('img/logo/SCHUCO.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.schueco.com/web2/ru"
                            target="_blank">Schuco</a>
                        </p>
                        <p>
                            Адрес: Химки Бизнес парк ул. Ленинградская, 39, стр. 5
                            141400 Химки Московская область Россия
                        </p>
                        <p>
                            Тел.: 8 495 937 52 37
                        </p>
                        <p>
                            Е-майл: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy13159 = '&#105;nf&#111;' + '&#64;';
                            addy13159 = addy13159 + 'sch&#117;&#101;c&#111;' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy13159 + '\'>'+ addy13159+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 2 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.jansen.com/en/building-systems/"
                        target="_blank"><img alt="" id="jansen" src=
                        "{{ static_url('img/logo/jansen.jpg') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href=
                            "http://www.jansen.com/en/building-systems/" target=
                            "_blank">Jansen</a>
                        </p>
                        <p>
                            Адрес: Headquarters German-speaking Switzerland
                            Industriestrasse 34 9463 Oberriet Switzerland
                        </p>
                        <p>
                            Тел.: +41 71 763 91 11
                        </p>
                        <p>
                            Факс: +41 71 761 22 70
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy49776 = '&#105;nf&#111;' + '&#64;';
                            addy49776 = addy49776 + 'j&#97;ns&#101;n' + '&#46;' + 'c&#111;m';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy49776 + '\'>'+ addy49776+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 3 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="https://www.reynaers.su/ru-RU/home" target=
                        "_blank"><img alt="" id="reynaers" src=
                        "{{ static_url('img/logo/Reynaers.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href=
                            "https://www.reynaers.su/ru-RU/home" target=
                            "_blank">Reynaers</a>
                        </p>
                        <p>
                            Адрес: Большой Коптевский проезд, 10, кор.2 125319,
                            Москва, Россия
                        </p>
                        <p>
                            Tел.: +7 495 542 40 15
                        </p>
                        <p>
                            Факс: +7 495 542 40 16
                        </p>
                        <p>
                            e-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy44908 = '&#105;nf&#111;.r&#117;ss&#105;&#97;' + '&#64;';
                            addy44908 = addy44908 + 'r&#101;yn&#97;&#101;rs' + '&#46;' + 'c&#111;m';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy44908 + '\'>'+ addy44908+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 4 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://agrisovgaz.ru/" target="_blank"><img alt=""
                        id="ags" src="{{ static_url('img/logo/AGS.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://agrisovgaz.ru/" target=
                            "_blank">Агрисовгаз</a>
                        </p>
                        <p>
                            Адрес: 249092, г. Малоярославец, Калужской обл., ул.
                            Мирная, д.3
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy30717 = '&#105;nf&#111;.&#97;gr&#105;s&#111;vg&#97;z' + '&#64;';
                            addy30717 = addy30717 + 'gm&#97;&#105;l' + '&#46;' + 'c&#111;m';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy30717 + '\'>'+ addy30717+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                        <p>
                            Тел.: +7(484)316-20-00, доб. 1035
                        </p>
                        <p>
                            Тел.: +7(484)316-20-00, доб. 1000
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 5 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.new-tec.ru/" target="_blank"><img alt=
                        "" id="newtec" src="{{ static_url('img/logo/newtec.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.new-tec.ru/" target=
                            "_blank">Алстоксервис</a>
                        </p>
                        <p>
                            Адрес: г. Лосино-Петровский, ул. Дачная, д. 1 стр. 9
                            Фабрика первичной обработки шерсти (ПОШ).
                        </p>
                        <p>
                            Тел.: +7(495) 526-30-86, +7(496) 259-68-17
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy3808 = '&#105;nf&#111;' + '&#64;';
                            addy3808 = addy3808 + 'n&#101;w-t&#101;c' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy3808 + '\'>'+ addy3808+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 6 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://almo-ags.ru/" target="_blank"><img alt=""
                        id="almo" src="{{ static_url('img/logo/almo.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://almo-ags.ru/" target=
                            "_blank">Алмо</a>
                        </p>
                        <p>
                            Адрес: ул. Нагатинская, д 16, стр 9, Бизнес- центр
                            "Imagine Plaza", офис 2-8.
                        </p>
                        <p>
                            Телефон: +7 (495) 280-02-42
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy69004 = 'ch&#101;rnysh&#101;v-&#101;' + '&#64;';
                            addy69004 = addy69004 + '&#97;lm&#111;-&#97;gs' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy69004 + '\'>'+ addy69004+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                        <p>
                            Моб. +7 (901) 542-26-29 (Евгений)
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 7 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.realit.ru/" target="_blank"><img alt=""
                        id="realit" src="{{ static_url('img/logo/Realit.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.realit.ru/" target=
                            "_blank">Realit</a>
                        </p>
                        <p>
                            Адерс: г. Москва, ул. Староалексеевская, д. 5, офис 701
                        </p>
                        <p>
                            Т.: +7 (499) 500-57-53
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 8 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.tatprof.ru/" target="_blank"><img alt=
                        "" id="tatprof" src="{{ static_url('img/logo/tatprof.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.tatprof.ru/" target=
                            "_blank">Татпроф</a>
                        </p>
                        <p>
                            Тел.: +7 (8552) 77-85-80
                        </p>
                        <p>
                            Адрес: 423802, Россия, Республика Татарстан, г.
                            Набережные челны, ул. Профильная, 53
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 9 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.akvista.ru/" target="_blank"><img alt=
                        "" id="vidnalprof" src=
                        "{{ static_url('img/logo/VIDNAL%20PROF.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.akvista.ru/" target=
                            "_blank">Виднал Профиль</a>
                        </p>
                        <p>
                            Адрес: 142062, Московская обл., г.Домодедово,
                            с.Растуново, 51
                        </p>
                        <p>
                            Телефон: +7 (495) 987-45-30
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy41282 = '&#105;nf&#111;' + '&#64;';
                            addy41282 = addy41282 + '&#97;kv&#105;st&#97;' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy41282 + '\'>'+ addy41282+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                        <p>
                            Сайт: akvista.ru
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 10 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.sial-group.ru/" target=
                        "_blank"><img alt="" id="sial" src=
                        "{{ static_url('img/logo/sial.jpeg') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.sial-group.ru/"
                            target="_blank">Сиал-Профиль</a>
                        </p>
                        <p>
                            тел./факс: (499) 171-18-34, 171-16-53, 171-06-83
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy75720 = '&#105;nf&#111;' + '&#64;';
                            addy75720 = addy75720 + 's&#105;&#97;l-p' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy75720 + '\'>'+ addy75720+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 11 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.raico.de/de/index.php" target=
                        "_blank"><img alt="" id="raico" src=
                        "{{ static_url('img/logo/raico.jpg') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href=
                            "http://www.raico.de/de/index.php" target=
                            "_blank">Raico</a>
                        </p>
                        <p>
                            Адрес: ул. Большая Спасская 12 офис 8 129090 Москва
                        </p>
                        <p>
                            Тел: +7(495)995-11-59
                        </p>
                        <p>
                            Факс: +7(495)995-11-59
                        </p>
                        <p>
                            Электронная почта: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy68416 = '&#105;nf&#111;' + '&#64;';
                            addy68416 = addy68416 + 'r&#97;&#105;c&#111;' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy68416 + '\'>'+ addy68416+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 12 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href=
                        "http://www.forster-profile.ch/en/meta-navigation/home.html"
                        target="_blank"><img alt="" id="forster" src=
                        "{{ static_url('img/logo/Forster.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href=
                            "http://www.forster-profile.ch/en/meta-navigation/home.html"
                            target="_blank">Forster</a>
                        </p>
                        <p>
                            Адрес: ул. Большая Очаковская 47А / 1 RU-119361 Москва
                        </p>
                        <p>
                            Телефон: +7 495 287 3623
                        </p>
                        <p>
                            Мобильный телефон: +7 915 120 0383
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy59147 = 'n&#105;k&#105;t&#97;' + '&#64;';
                            addy59147 = addy59147 + 'f&#111;rst&#101;r-pr&#111;f&#105;l&#101;' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy59147 + '\'>'+ addy59147+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 13 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.ferro-wic.ch/" target=
                        "_blank"><img alt="" id="ferrowic" src=
                        "{{ static_url('img/logo/ferro-wic.gif') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.ferro-wic.ch/"
                            target="_blank">Ferro-wic</a>
                        </p>
                        <p>
                            Адрес: Hydro Building Systems AG - Gewerbepark -
                            CH-5506 Mägenwil
                        </p>
                        <p>
                            Тел: +41 62 887 41 41
                        </p>
                        <p>
                            Факс: +41 62 887 41 30
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 14 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.wicona.com/" target="_blank"><img alt=
                        "" id="wicona" src="{{ static_url('img/logo/WICONA.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.wicona.com/" target=
                            "_blank">Wicona</a>
                        </p>
                        <p>
                            Адрес: 123995, Москва Бережковская набережная, д. 20 Е
                        </p>
                        <p>
                            Тел .: +7 495 207-75-30
                        </p>
                        <p>
                            Факс: +7 495 207-75-40
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy76862 = '&#105;nf&#111;' + '&#64;';
                            addy76862 = addy76862 + 'w&#105;c&#111;n&#97;' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy76862 + '\'>'+ addy76862+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 15 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.alutech-group.com/" target=
                        "_blank"><img alt="" id="alutech" src=
                        "{{ static_url('img/logo/Alutech.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.alutech-group.com/"
                            target="_blank">Алютех</a>
                        </p>
                        <p>
                            Адрес: 143397, г.Москва, поселение Первомайское, ул.
                            Рабочая,1.
                        </p>
                        <p>
                            Тел.: +7(495) 221-62-00
                        </p>
                        <p>
                            Электронная почта: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy31444 = '&#105;nf&#111;' + '&#64;';
                            addy31444 = addy31444 + '&#97;l&#117;t&#101;chmsk' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy31444 + '\'>'+ addy31444+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 16 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://astek-mt.ru/" target="_blank"><img alt=""
                        id="krauss" src="{{ static_url('img/logo/krauss.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://astek-mt.ru/" target=
                            "_blank">Krauss</a>
                        </p>
                        <p>
                            142131, Россия, г. Москва, пос. Фабрики им. 1-го Мая,
                            д. 28, стр. 1
                        </p>
                        <p>
                            +7(495)921-36-80
                        </p>
                        <p>
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy42469 = 'z&#97;k&#97;z' + '&#64;';
                            addy42469 = addy42469 + '&#97;st&#101;k-mt' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy42469 + '\'>'+ addy42469+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 17 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.dorma.com/ru/ru/" target=
                        "_blank"><img alt="" id="dorma" src=
                        "{{ static_url('img/logo/Dorma.jpg') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.dorma.com/ru/ru/"
                            target="_blank">Дорма</a>
                        </p>
                        <p>
                            Адрес: ул. Дмитрия Ульянова, д. 7А Москва 117036 Россия
                        </p>
                        <p>
                            Тел.: 8(495)966-20-50
                        </p>
                        <p>
                            Тел.: 7(495)966-20-51
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 18 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://furnitura-titan.ru/" target=
                        "_blank"><img alt="" id="titan" src=
                        "{{ static_url('img/logo/TITAN.png') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://furnitura-titan.ru/"
                            target="_blank">Титан</a>
                        </p>
                        <p>
                            Адрес: 115533, Москва, проспект Андропова, дом 22
                        </p>
                        <p>
                            E-mail: 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy18551 = 'm&#97;g&#97;z&#105;n' + '&#64;';
                            addy18551 = addy18551 + 'f&#117;rn&#105;t&#117;r&#97;-t&#105;t&#97;n' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy18551 + '\'>'+ addy18551+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>, 
                            <script type='text/javascript'>
                            <!--
                            var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
                            var path = 'hr' + 'ef' + '=';
                            var addy53575 = '&#105;nf&#111;' + '&#64;';
                            addy53575 = addy53575 + 'f&#117;rn&#105;t&#117;r&#97;-t&#105;t&#97;n' + '&#46;' + 'r&#117;';
                            document.write('<a ' + path + '\'' + prefix + ':' + addy53575 + '\'>'+ addy53575+ '<\/a>');
                            //-->\n 
                            </script>
                            <script type='text/javascript'>
                            <!--
                            document.write('<span style=\'display: none;\'>'+ 'Этот адрес электронной почты защищен от спам-ботов. У вас должен быть включен JavaScript для просмотра.'+ '</'+ 'span>');
                            //-->
                            </script>
                        </p>
                        <p>
                            Тел.: +7(495) 308-07-71
                        </p>
                        <p>
                            Тел.: +7(910) 434-33-12
                        </p>
                    </td>
                </tr>
                <tr>
                    <!-- 19 строка -->
                    <td class="logotip" height="145px" width="150px">
                        <a href="http://www.perilaglavsnab.ru/" target=
                        "_blank"><img alt="" id="pg" src="{{ static_url('img/logo/pg.jpg') }}"></a>
                    </td>
                    <td class="text" height="145px" width="750px">
                        <p class="head">
                            <a class="click" href="http://www.perilaglavsnab.ru/"
                            target="_blank">ПерилаГлавСнаб</a>
                        </p>
                        <p>
                            Адрес: г. Москва, Ул. Братьев Фонченко вл. 15 (База
                            МЧС)
                        </p>
                        <p>
                            Тел.: (495) 646-10-70
                        </p>
                        <p>
                            Тел.: (495) 646-14-21
                        </p>
                        <p>
                            Тел.: (499) 783-43-74
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% end %}