{% extends ../main.html %}

{% block title %}
    Техническая информация
{% end %}

{% block content %}
    <h3>Что такое гибка</h3>
    <p style="text-align: justify;">
        Как указано в толковых словарях и
        энциклопедиях, гибка – это придание чему либо изогнутой формы. В нашем
        случае под гибкой понимают слесарную операцию изгибания заготовок из
        профильных материалов. Под действием изгибающего момента заготовка
        деформируется, наружные слои её растягиваются, внутренние — сжимаются.
    </p>
    <p style="text-align: justify;">
        Мы осуществляем гибку с помощью трёх-вальцовых машин производства
        швейцарской компании Profilbiegetechnic AG, являющейся общепризнанным
        мировым лидером в производстве гибочных машин.
    </p>
    <h3>Процесс гибки</h3>
    <p style="text-align: justify;">
        Осуществляется гибка следующим
        образом.
    </p>
    <p style="text-align: justify;">
        Во избежании схлопывания, камеры профилей заполняются специальным песком,
        его утрамбовывают, затем профиль вставляется в вальцы между двумя
        фронтальными и одним центральным. Вальцы синхронизированы и вращаются все в
        одну строну, пока профиль не прокатается по всей длине заготовки, затем в
        другую сторону. Одна прокатка профиля называется одним проходом. С каждым
        проходом центральный валец приближается к фронтальным, за счёт этого и
        возникает изгибающий момент. Усилие во время гибки может достигать 30 тонн.
        Вальцы изготавливаются для каждого типа профиля. Количество проходов
        задается оператором станка и корректируется в процессе гибки в зависимости
        от требуемого радиуса и других поставленных задач.
    </p>
    <h3>Что такое технологический припуск</h3>
    <p style="text-align: justify;">
        Посадочный диаметр
        вальцов составляет 105 мм, диаметр давящей поверхности – 130/140 мм.
        Внешний диаметр вальцов может достигать 160/220 мм. Как показал опыт, такие
        параметры вальцов являются оптимальными для радиусной гибки как системных
        профилей из алюминия, так и профилей из стали. Из-за внешних размеров
        вальцов и образуется технологический припуск. Т.к. центральный валец давит
        посередине фронтальных, а профиль зажат в них, изгибающий момент возникает
        на некотором расстоянии от края профиля. Поэтому согнутый профиль имеет
        прямые, не согнутые края. В среднем технологический припуск составляет по
        300 мм с каждой стороны или 600 мм в заготовке. Он зависит, также, от
        размеров сечения профиля и может достигать 1000 мм в заготовке.
    </p>
    <h3>Что такое вывод прямых частей</h3>
    <p style="text-align: justify;">
        Иногда стоит задача
        осуществить плавный переход от радиуса к прямой части. Задача осложняется
        тем, что в процессе гибки профиль всегда деформируется и излишний материал
        сгоняется к краям, поэтому на прямой части, в точке перехода, часто
        появляется утолщение, видное невооруженным глазом. Для того чтобы устранить
        это утолщение существует специальная операция раскатки, которая позволяет
        осуществить плавный переход от дуги к прямой. При проектировании таких
        деталей, следует учесть, что вывод прямой части возможен только по
        касательной к дуге (значит радиус, проведённый в точке перехода
        перпендикулярен к прямому выводу).
    </p>
    <h3>Какие различаются направления гибки</h3>
    <p style="text-align: justify;">
        Если начертить
        сечение профиля, например ригеля, и провести оси X и Y, то при гибке для
        плоского (арочного) остекления радиус гибки будет направлен на боковую
        стенку (Rx), - это гибка по оси X; а при гибке для молированого (гнутого)
        остекления направление радиуса гибки будет на торец профиля (Ry). Это два
        наиболее распространённых направления гибки. При остеклении куполов иногда
        возникает потребность согнуть ригель, который лежит в горизонтальной
        плоскости, но повёрнут к ней под углом, радиус гибки тогда будет направлен
        между осями X и Y (Rxy), такая гибка называется двухплоскостной. Наша
        компания ещё в 2006 году разработала собственную технологию двухплоскостной
        гибки, и пока единственная в РФ предлагает такую услугу.
    </p>
    <p style="text-align: justify;">
        В 2015 году возникла задача согнуть арку из фасадного профиля на радиусной
        стене. Наша компания, также, первая в РФ успешно справилась с этой задачей.
        Т.к. в результате гибки получается пространственная кривая, такую гибку мы
        назвали (X,Y,Z).
    </p>
        
    <strong>Типы арок:</strong>
    <ul>
        <li>простая арка с одним радиусом;</li>
        <li>арка с несколькими радиусами на одной заготовке.</li>
    </ul>
    
    <h3>Как измеряется и контролируется радиус гибки</h3>
    
    <p style="text-align: justify;">
        Радиус
        гибки можно измерять механическим и электронным способом. Механический
        способ считается более надёжным, но и более длительным. При применении
        механического способа измерения применяется принцип, описанный в разделе
        “Гибочный калькулятор”, т.е. по двум параметрам: <strong>H</strong> (хорда)
        и <strong>h</strong> (высота хорды). Роль хорды играет обычно специально
        изготовленная мерная линейка, а высоту хорды можно измерять
        штангель-циркулем.
    </p>
    <h3>С какой точностью производится гибка</h3>
    <p style="text-align: justify;">
        Точность гибки
        зависит от применяемых инструментов, качества профиля и от других
        параметров, например, таких как длина дуги в соотношении с радиусом. К тому
        же, из-за некачественного материала, иногда наблюдается такой эффект, как
        дисперсия радиусов, т.е. разброс радиусов по всей длине. Это приводит к
        необходимости тщательного контроля габаритных размеров дуги. Идеального
        материала (профилей) не бывает, и радиус всегда измеряется с какой-то
        точностью, главное, чтобы эта точность удовлетворяла поставленным задачам.
        Для каждого задания по гибке можно посчитать свою точность измерения, т.е.
        пределы отклонений. Например, при механическом измерении, точность
        измерения штангель-циркулем – до 0,1 мм, для применяемой мерной линейки
        можно посчитать пределы отклонений. Они всегда получаются ниже необходимых
        для переработки профилей. При гибке фасадных профилей в направлении для
        молированого (гнутого) остекления, точность изготовления стеклопакетов
        всегда ниже, чем наша точность гибки, это показали наши проверки.
    </p>
    <h3>Какие ГОСТы существуют для гибки профилей</h3>
    <p style="text-align: justify;">
        В настоящее
        время никаких ГОСТов по гибке не разработано.
    </p>
{% end %}