<footer class="footer">
    <div class="content-layout">
        <div class="content-layout-row">
            <div id="footer-partners" class="layout-cell">
                <a class="button" href="{{ reverse_url('page-partners') }}">
                    Наши партнеры
                </a> <!--
                <a class="button" href="{{ reverse_url('user-register') }}">
                    Регистрация
                </a>-->
            </div>
            <div id="footer-contacts" class="layout-cell">
                <p>140030, МО, Люберецкий район, пос. Малаховка, Касимовское шоссе, д. 3Г</p>
                <p>тел. (495) 501-32-45, 501-32-36 &nbsp;<a rel="nofollow" href="mailto:{{ prj.mailer['email'] }}">{{ prj.mailer['email'] }}</a>&nbsp;</p>
            </div>
        </div>
    </div>
</footer>    

<p class="page-footer">
    <span id="footnote-links">Право собственности ООО "ПК РАДИУС" © 2002&ndash;2017. Все права защищены. </span> 
</p>