<header class="header mytopheader">
    <div class="shapes">
        <div class="textblock object1439317249">
            <div class="object1439317249-text-container">
                <a rel="nofollow" target="_blank" href="http://www.pakon.ru/">
                    <div class="object1439317249-text">
                        ГРУППА КОМПАНИЙ ПАКОН
                    </div>
                </a>
            </div>
        </div>
        <div class="object1615066278-text">
            тел. (495) 501-32-36 / 45
        </div>
    </div>

    <h1 class="headline">
        <a href="/">ПК РАДИУС</a>
    </h1>

    <a href="/" target="_self" title="ПК Радиус - группа компаний Пакон" class="logo logo-685533348">
        <img id="header-logo" width=138 src="{{ static_url('img/prj/logo.png') }}" alt="" />
    </a>

    <nav class="nav">
        <ul class="hmenu">
            {% include menu.html %}
        </ul> 
    </nav>
</header>

<div class="vmenublock clearfixvmenu">
    <ul class="vmenu">
        {% include vmenu.html %}
    </ul>
</div>

