<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />        
        <title>{% block title %}{% end %} | {{ prj.app["title"] }}</title>
        <meta content="{% block description %}{% end %}" name="description" />
        <link href="{{ static_url('img/favicon.ico') }}" rel="icon" type="image/x-icon" />
        {% for stylesheet in prj.stylesheets %}
            <link rel="stylesheet" href="{{ static_url('style/' + stylesheet) }}" type="text/css" />
        {% end %}
        {% for script in prj.scripts %}
            <script src="{{ static_url('script/' + script) }}"></script>
        {% end %}
        {% block head %}
        {% end %}
    </head>
    <body>
        <div id="main">
            <div class="sheet clearfix">
            
                {% include header.html %}
                
                <div class="layout-cell content">
                    <article class="post">
                        <div class="postmetadataheader">
                            <h2 class="postheader">
                                {% block address %}{% block title %}{% end %}{% end %}
                            </h2>
                        </div>
                        <div class="postcontent clearfix">
                            <div class="article">
                                {% block content %}
                                {% end %}
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            
            {% include footer.html %}
            
        </div>
        
        {% include metric.html %}                                                         
        
    </body>
</html>