<li>
    <a href="{{ reverse_url('page-about') }}">
        О компании
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-tech') }}">
        Техническая информация
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-calc') }}">
        Гибочный калькулятор
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-gallery') }}">
        Галерея
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-form') }}">
        Формы заявок
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-contact') }}">
        Контакты
    </a>
</li>