<!-- Yandex.Metrika informer -->
<script>
    (function() {
        var stat_href = "http://pkradius.ru/index.php?option=com_content&view=article&id=22";
        var ya_informer = '<a style="" href="https://metrika.yandex.ru/stat/?id=35317970&amp;from=informer" target="_blank" rel="nofollow"><img src="//informer.yandex.ru/informer/35317970/3_0_20ACFFFF_008CF0FF_0_pageviews" style="width:130px; height:50.5px; border:0" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:35317970,lang:"ru"});return false}catch(e){}"/></a>';
        if (location.href == stat_href) {
          jQuery("#ya-inf-insert").prepend(ya_informer);
        }
    })();
</script>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function(d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter35317970 = new Ya.Metrika({
                    id: 35317970,
                    clickmap: true,
                    trackLinks: true,
                    accurateTrackBounce: true
                });
            } catch (e) {}
        });
        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function() {
                n.parentNode.insertBefore(s, n);
            };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else {
            f();
        }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
    <div>
        <img src="//mc.yandex.ru/watch/35317970" style="position:absolute; left:-9999px;" alt="" />
    </div>
</noscript>
<!-- /Yandex.Metrika counter -->