<li>
    <a href="{{ reverse_url('page-gibka-aljuminievyh-okonnyh-i-dvernyh-profilej') }}">
        Гибка алюминиевых оконных и дверных профилей
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-gibka-aljuminievyh-fasadnyh-profilej-dlja-ploskogo-osteklenija-po-H') }}">
        Гибка алюминиевых фасадных профилей для плоского остекления (по Х)
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-gibka-aljuminievyh-fasadnyh-profilej-dlja-molirovanogo-osteklenija-po-Y') }}">
        Гибка алюминиевых фасадных профилей для молированого остекления (по Y)
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-dvuhploskostnaja-gibka-aljuminievyh-fasadnyh-profilej-po-X-i-Y') }}">
        Двухплоскостная гибка алюминиевых фасадных профилей (по X и Y)
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-gibka-aljuminievyh-fasadnyh-profilej-dlja-arok-na-radiusnyh-stenah-X-Y-Z') }}">
        Гибка алюминиевых фасадных профилей для арок на радиусных стенах (X, Y, Z)
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-gibka-profilej-dlja-peregorodok-i-dlja-peril') }}">
        Гибка профилей для перегородок и для перил
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-gibka-stalnyh-profilej') }}">
        Гибка стальных профилей
    </a>
</li>
<li>
    <a href="{{ reverse_url('page-gibka-aljuminievyh-profilej-obshhestroitelnogo-naznachenija') }}">
        Гибка алюминиевых профилей общестроительного назначения
    </a>
</li>