{% if page_count > 1 %}
    <div class="pager general-controls">
        Страница:
    
        {% if page != 0 %}
            <input class="goto" data-page="0" type="submit" value="1">        
            <input class="goto" data-page="{{ page - 1 }}" type="submit" value="&laquo;">
        {% end %}
    
        <input class="input-page" type="text" value="{{ page + 1 }}">
    
        {% if page < page_count - 1 %}
            <input class="goto" data-page="{{ page + 1 }}" type="submit" value="&raquo;">    
            <input class="goto" data-page="{{ page_count - 1 }}" type="submit" value="{{ page_count }}">
        {% end %}

        <span class="element-number">
            Элементов на странице: 
            <input type="text" value="{{ show }}">
        </span>
    </div>
{% end %}