{% extends "../main.html" %}

{% block title %}
    {% if '-success' in confirm_type %}
        Успешное подтверждение
    {% else %}
        Требуется подтверждение
    {% end %}
{% end %}

{% block content %}
    {% if user %}
        <p>Ув. <b>{{ user['login'] }}</b>!</p>

        {% if confirm_type == "confirm-register" %}
            <p>На Вашу почту было отправлено письмо с подтверждающей регистрацию ссылкой. Пожалуйста, перейдите по ней, чтобы завершить регистрацию на сайте!</p>

        {% elif confirm_type == "confirm-mailchange" %}
            <p>Вы указали новый почтовый ящик, на который была отправлена подтверждающая изменения ссылка. Пожалуйста, перейдите по ней, чтобы завершить изменения!</p>

        {% elif confirm_type == "confirm-register-success" %}
            <p>Вы успешно зарегистрировались на сайте!</p>

        {% elif confirm_type == "confirm-mailchange-success" %}
            <p>Ваш e-mail успешно изменён.</p>

        {% end %}
        
    {% else %}
        <p>Здравствуйте!</p>
        <p>Ссылка по которой вы перешли недействительна или у неё истёк срок годности. Пожалуйста, повторите своё действие снова или зарегистрируйтесь на сайте.</p>
        
    {% end %}
{% end %}