{% extends "../main.html" %}

{% block title %}
    Изменить пароль для пользователя {{ user['login'] }}
{% end %}

{% block address %}
    <a href="{{ reverse_url('user-list') }}">Пользователи</a>
    /
    <a href="{{ reverse_url('user-view', user['login']) }}">{{ user['login'] }}</a>
    /
    изменить пароль
{% end %}

{% block content %}
    {% include "nav.html" %}
    
    <form method="post" class="general">
        {% module xsrf_form_html() %}
        <table>
            {% if not current_user.is_admin %}
            <tr>
                <td>
                    Старый пароль
                </td>
                <td>    
                    <input name="old_password" type="password" autofocus required>    
                </td>
                <td class="error">
                    {% if flags.get("wrong_password", "") %}
                        Вы указали неверный старый пароль!
                    {% end %}    
                </td>
            </tr>
            {% end %}
        
            <tr>
                <td>
                    Новый пароль
                </td>
                <td>
                    <input name="new_password" type="password" value="" required>
                </td>
                <td>
                </td>
            </tr>
        
            <tr>
                <td>
                    Повторите для верности
                </td>
                <td>
                    <input name="new_password_repeat" type="password" value="" required>    
                </td>
                <td class="error">
                    {% if flags.get("password_repeat", "") %}
                        Повторите новый пароль верно!
                    {% end %}
                </td>
            </tr>
        
            <tr class="controls">
                <td>
                </td>
                <td colspan="2">
                    <input type="submit" value="Изменить">
                    <a href="{{ reverse_url('user-view', user['login'] ) }}">&larr; Назад к профилю</a>
                </td>
            </tr>
        </table>
    </form>
{% end %}