{% extends "../main.html" %}

{% block title %}
    Список пользователей {% if elements.doc_count %} &ndash; {{ elements.doc_count }} {% end %}
{% end %}

{% block content %}
    {% module Pager(elements) %}
    <table class="general">
        <tr>
            <th data-field="login" class="sortable searchable">Логин</th>
            <th data-field="created" class="transformable sortable">Создан</th>
            {% if current_user.is_admin %}
            <th data-field="access_level" class="sortable">Группа</th>
            <th><a href="{{ reverse_url('user-register') }}">Добавить пользователя</a></th>
            {% end %}
        </tr>
        {% for user in elements %}
        <tr>
            <td><a href="{{ reverse_url('user-view', user['login']) }}">{{ user['login'] }}</a></td>
            <td class="transform" data-transform="cropDate">{{ user['created'] }}</td>
            {% if current_user.is_admin %}
                <td class="transform access_level" data-transform="transformAccessLevelName">{{ user['access_level'] }}</td>
                <td>
                    <a href="{{ reverse_url('user-edit-password', user['login']) }}">Пароль</a> |
                    <a href="{{ reverse_url('user-edit-general', user['login']) }}">Профиль</a> |
                    <a href="{{ reverse_url('user-edit-remove', user['login']) }}">Удалить</a>
                </td>
            {% end %}
        </tr>
        {% end %}
    </table>
    {% module Pager(elements) %}
{% end %}