{% extends "../main.html" %}

{% block title %}
    Вход на сайт
{% end %}

{% block content %}
    <form class="general" method="post">
        {% module xsrf_form_html() %}
        <table>
        
            <tr>
                <td colspan="3" class="error">
                    {% if flags.get("wrong_credentials", "") %}
                        <p>Логин или пароль введены не верно!</p>
                    {% end %}
                </td>
            </tr>
        
            <tr>
                <td>
                    Логин или E-Mail
                </td>
                <td>
                    <input name="login" type="text" autofocus required value="{{ handler.get_argument('login', '') }}">
                </td>
                <td>
                </td>
            </tr>
        
            <tr>
                <td>
                    Пароль
                </td>
                <td>
                    <input title="Пароль" name="password" type="password" required>
                </td>
                <td>
                </td>
            </tr>
        
            <tr class="controls">
                <td>
                </td>
                <td>
                    <input type="submit" class="button-ok" value="Войти">    
                </td>
                <td>
                </td>
            </tr>
            
        </table>
    </form>
{% end %}