{% extends "../main.html" %}

{% block title %}
    Настройки рассылки &ndash; {{ user['login'] }}
{% end %}

{% block address %}
    <a href="{{ reverse_url('user-list') }}">Пользователи</a>
    /
    <a href="{{ reverse_url('user-view', user['login']) }}">{{ user['login'] }}</a>
    /
    рассылка
{% end %}

{% block content %}
    {% include "nav.html" %}
    
    <form method="post" class="general">
        {% module xsrf_form_html() %}
        <table>  
        
            <tr>
                <td>
                </td>
                <td>
                    <label>
                        <input name="daily_cves" type="checkbox" {% if mailer.daily_cves %}checked=checked{% end %}">
                        Отправлять информацию о новых обнаружениях
                    </label>
                </td>
        
                <td>
                </td>
            </tr>
    
        
            <tr class="controls">
                <td>
                </td>
                <td colspan="2">
                    <input type="submit" value="Изменить">
                    <a href="{{ reverse_url('user-view', user['login'] ) }}">&larr; Назад к профилю</a>
                </td>
            </tr>
        </table>
    </form>
{% end %}