{% extends "../main.html" %}

{% block title %}
    Регистрация
{% end %}

{% block content %}    
    <form class="general" method="post">
        {% module xsrf_form_html() %}
        <table>
            <tr>
                <td>
                    Логин
                </td>
                <td>
                    <input name="login" type="text" autofocus required pattern="[^/\\]+" title="Укажите свой логин. Ваш логин не может содержать спец. символы" value="{{ handler.get_argument('login', '') }}">
                </td>
                <td class="error">
                    {% if flags.get("login_exists", "") %}
                        Указанный логин занят, выберите другой
                    {% end %}        
                    {% if flags.get("login_pattern", "") %}
                        Логин не может содержать спец. символы
                    {% end %}        
                </td>
            </tr>
            
            <tr>
                <td>
                    E-Mail
                </td>
                <td>
                    <input name="email" type="email" required>
                </td>
                <td class="error">
                    {% if flags.get("email_exists", "") %}
                        Указанный E-Mail уже зарегистрирован
                    {% end %}
                </td>
            </tr>
            
            <tr>
                <td>
                    Пароль
                </td>
                <td>
                    <input name="password" type="password" required>
                </td>
                <td class="error">
                    {% if flags.get("password_repeat", "") %}
                        Введенные пароли не совпадают
                    {% end %}
                </td>
            </tr>
            
            <tr>
                <td>
                    Повторите пароль,<br>чтобы не ошибиться
                </td>
                <td>
                    <input name="password_repeat" type="password" required>
                </td>
                <td>
                </td>
            </tr>
            
            <tr>
                <td style="max-width: 200px" colspan="3">    
                    По указанному адресу будет отправлена ссылка с подтверждением регистрации
                </td>
            </tr>
            
            <tr class="controls">
                <td>
                </td>
                <td colspan="2">
                    <input type="submit" value="Зарегистрироваться">
                </td>
            </tr>
        </table>
    </form>
{% end %}