{% extends "../main.html" %}

{% block title %}
    Вы уверены, что хотите удалить пользователя {{ user['login'] }}?
{% end %}


{% block address %}
    <a href="{{ reverse_url('user-list') }}">Пользователи</a>
    /
    <a href="{{ reverse_url('user-view', user['login']) }}">{{ user['login'] }}</a>
    /
    удалить аккуант
{% end %}

{% block content %}
    {% include "nav.html" %}
    
    <p>Вы уверены, что хотите удалить пользователя {{ user['login'] }}?</p>
    
    <form class="general" method="post">
        {% module xsrf_form_html() %}
        <table>
            <tr class="controls">
                <td></td>
                <td colspan="2">
                    <input autofocus name="remove" type="submit" value="Удалить">
                    <a href="{{ reverse_url('user-view', user['login']) }}">&larr; Назад к профилю</a></p>
                </td>
        </table>
    </form>
{% end %}