{% extends "../main.html" %}

{% block title %}
    Информация о пользователе {{ user['login'] }}
{% end %}

{% block address %}
    <a href="{{ reverse_url('user-list') }}">Пользователи</a>
    /
    {{ user['login'] }}
{% end %}

{% block content %}    
    {% include "nav.html" %}

    <table class="general">
    
        <tr>
            <th>Логин</th>
            <td>{{ user['login'] }}</td>
        </tr>
        
        <tr>
            <th>Добавлен</th>
            <td class="transform created" data-transform="cropDate">{{ user['created'] }}</td>
        </tr>
        
        {% if current_user.is_admin %}
        <tr>
            <th>Группа</th>
            <td class="transform access_level" data-transform="transformAccessLevelName">{{ user['access_level'] }}</td>
        </tr>
        {% end %}
        
    </table>
{% end %}